br
nav.navbar.navbar-default(role="navigation")
  .container-fluid
    <!-- Brand and toggle get grouped for better mobile display -->
    .navbar-header
      button(type="button",class="navbar-toggle",data-toggle="collapse",data-target="#bs-example-navbar-collapse-1")
        span.sr-only
          |Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="/")
        |Tuts-4-Sluts
    {% if session['id'] %}
    {% raw %}
    <!-- Collect the nav links, forms, and other content for toggling -->
    .collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
      ul.nav.navbar-nav.navbar-right
        li
          a(href="#")
            | Balance : {{currentBalance}}
        li
          a(href="#")
            |Stats
        li.dropdown
          a.dropdown-toggle(href="#",data-toggle="dropdown")
            |Account 
            b.caret
          ul.dropdown-menu
            li
              a(href="/payments")
                |Payments
            li
              a(href="/logout")
                |Log Out
    {% endraw %}
    {% else %}

    .collapse.navbar-collapse(id="bs-example-navbar-collapse-1")
      ul.nav.navbar-nav.navbar-right
        li
          a(href="/register")
            | Register
    {% endif %}