{% extends "template.jade" %}
{% block content %}
{% raw %}
h1 Tuts-4-Sluts

#container.col
  .col-md-4.full-hight
    .well.well-sm
      .tree.well
        ul
          li
            span.glyphicon.glyphicon-folder-open
              nbsp
              | Courses
            ul              
              li(ng-repeat="section in sections", questionView)
                span.glyphicon.glyphicon-minus-sign
                  nbsp
                  | {{section}}
                ul
                  li(ng-repeat="level in levels[section]")
                    span.glyphicon.glyphicon-share
                      nbsp
                      a(href="")
                        | {{level}}


  div.col-md-1.full-height

  div.col-md-5.full-height
    |stuff
  div.col-md-2.full-height
    

{% endraw %}
{% endblock %}
