{% extends "template.jade" %}
{% block content %}

h1 Tuts-4-Sluts

#container.col
  .col-md-4.full-hight
    {% raw %}
    .well.well-sm
      .tree.well
        ul
          li
            span.glyphicon.glyphicon-folder-open
              nbsp
              | Courses
            ul              
              li(ng-repeat="section in sections", on-finish-render-section)
                span.glyphicon.glyphicon-plus-sign(ng-click='expandSection(section)')
                  nbsp
                  | {{section}}
                ul
                  li(ng-repeat="level in levels[section]", on-finish-render-level)
                    span.glyphicon.glyphicon-plus-sign(ng-click='expandLevel(section, level)')
                      nbsp
                      | {{level}}
                    ul
                      li(ng-repeat="question in questions[section][level]", on-finish-render-question)
                        span.glyphicon.glyphicon-question-sign(ng-click='selectQuestion(section, level, question)' ng-class="hadAnswered(section,level,question)?'glyphicon-check-sign':'glyphicon-question-sign'")
                          nbsp
                          a(href="")
                            | {{question}}


    {% endraw %}
  .col-md-1.full-height

  .col-md-7.full-height
    include questionForm

{% endblock %}
