{% extends "template.jade" %}
{% block content %}
{% raw %}
h1 Tuts-4-Sluts

#container.col
  div.col-md-3.full-hight
    |stuff  
  div.col-md-2.full-height

  div.col-md-5.full-height
    |stuff
  div.col-md-2.full-height
    

{% endraw %}
{% endblock %}
