{% extends "template.jade" %}
{% block content %}
h1 Jade - node template engine
  #container.col
    .well
      p You are fucked
      input(type="text", ng-model="yourName", placeholder="Enter a name here")
    h3
      {{yourName}}
{% endblock %}
