{% extends "template.jade" %}
{% block content %}

#container.col
  .col-md-4.full-hight
    {% raw %}
    .well.well-sm
      .tree.well
        ul
          li
            span.glyphicon.glyphicon-folder-open
              nbsp
              | Courses
            ul              
              li(ng-repeat="section in sections | inArray:openSections | orderBy:'toString()'", on-finish-render-section)
                span.sections.glyphicon.glyphicon-plus-sign(ng-click='expandSection(section)')
                  nbsp
                  | {{capitalizeEachWord(section)}}
                ul
                  li(ng-repeat="level in levels[section] | orderBy:sort | reverse", on-finish-render-level)
                    span.levels.glyphicon.glyphicon-plus-sign(ng-click='expandLevel(section, level.name)')
                      nbsp
                      | {{capitalizeEachWord(level.name)}}
                    ul
                      li(ng-repeat="question in questions[section][level.name] | orderBy:'toString()'", on-finish-render-question)
                        span.questions.glyphicon(ng-click='selectQuestion(section, level.name, question)' ng-class="hasAnswered(section,level.name,question)?'question-done glyphicon-ok-sign':'question-not-done glyphicon-question-sign'")
                          nbsp
                          a(href="")
                            | ${{question}}


    {% endraw %}
  .col-md-1.full-height

  .col-md-7.full-height
    include questionForm

{% endblock %}
