{% extends "template.jade" %}
{% block content %}
{% raw %}
h1 Tuts-4-Sluts

#container.col
  .col-md-4.full-hight
    .well.well-sm
      .tree.well
        ul
          li
            span.glyphicon.glyphicon-folder-open
              nbsp
              | Courses
            ul              
              li(ng-repeat="section in sections", on-finish-render-section)
                span.glyphicon.glyphicon-plus-sign(ng-click='expandSection(section)')
                  nbsp
                  | {{section}}
                ul
                  li(ng-repeat="level in levels[section]", on-finish-render-level)
                    span.glyphicon.glyphicon-plus-sign(ng-click='expandLevel(section, level)')
                      nbsp
                      | {{level}}
                    ul
                      li(ng-repeat="question in questions[section][level]", on-finish-render-question)
                        span.glyphicon.glyphicon-question-sign
                          nbsp
                          a(href="")
                            | {{question}}


  div.col-md-1.full-height

  div.col-md-5.full-height
    |stuff
  div.col-md-2.full-height
    

{% endraw %}
{% endblock %}
