{% extends "template.jade" %}
{% block content %}

h1 Tuts-4-Sluts

#container.col
  .col-md-3.full-hight
    
  .col-md-6.full-height
    {% raw %}
    .well.well-sm
      .well
        GOGOGOGO
    {% endraw %}

  .col-md-3.full-height

{% endblock %}
