{% extends "template.jade" %}
{% block content %}
#container.col
  .col-md-3.full-hight
    
  .col-md-6.full-height
    {% raw %}
    h1
      | Purchase Sucessful
    .well.well-sm
      .well
        h2
          | Congratulations on your purchase!

        h1
          | We look forward to learning with you.
    {% endraw %}

  .col-md-3.full-height

{% endblock %}
