{% extends "template.jade" %}
{% block content %}
#container.col
  .col-md-3.full-hight
    
  .col-md-6.full-height
    {% raw %}
    h1
      | Purchase
    .well.well-sm
      .well
        h2
          | Congrats to you. We now have your money. and you have less.

        h1
          | Sucks to suck.
    {% endraw %}

  .col-md-3.full-height

{% endblock %}
