{% raw %}
h3 {{currentTitle}}
  .well
      ul.list-group
        li.list-group-item
          b(ng-bind-html='currentQuestion')
      form(ng-submit='submitAnswer()')
        .form-group
          label.answer Answer:
          .answer(name='answer')
            input.form-control(ng-model='currentAnswer', type='text')
        input.btn.btn-primary(type="submit" id="submit" value="Submit Answer")
        nbsp
        img(src="/static/img/loading.gif", id="loading-img", style="display:none")
        span#answer-status.glyphicon(style='display:none;font-size:30px;vertical-align:middle;')
{% endraw %}
