{% raw %}
h3 {{currentTitle}}
  .well
      ul.list-group
        li.list-group-item
          b(ng-bind-html='currentQuestion')
      form(action='/answer/', method='POST',ng-submit='submitAnswer()')
        .form-group
          label.answer Answer:
          .answer(name='answer')
            input.form-control(name='answer', type='text')
            input(name='qid', value='{{currentQuestionId}}', type='hidden')
        button.btn.btn-info(type='submit') Submit Answer
{% endraw %}
