h3 Math: Level One, Problem 1
  .well
      ul.list-group
        li.list-group-item(style='text-align: center;')
          b 1+1=?
      form(action='/answer/', method='POST')
        .form-group
          label.answer Answer:
          .answer(name='answer')
            input.form-control(type='text')
            input(name='qid', value='/questions/sections/math/level/one/P1', type='hidden')
        button.btn.btn-info(type='submit') Submit Answer

