{% extends "template.jade" %}
{% block content %}
#container.col(ng-init="getThoseStats()")
  h1
      | Statistics
    {% raw %}
  .col-md-6.full-hight
    .well.well-sm
      
  .col-md-6.full-height
    .well.well-sm
      
    {% endraw %}

{% endblock %}
