{% extends "template.jade" %}
{% block content %}
{% raw %}
#container.col(ng-init="getThoseStats()")
  h1
      | Statistics
  .col-md-3.full-hight

  .col-md-6.full-hight
    .well.well-sm
      div(ng-repeat="(name, url) in stats | orderBy:name")
        div(style="text-align: center;")
          | {{capitalizeEachWord(name)}} Class
        div(style="-webkit-transform: rotate(-90deg);
                   position: relative;
                   left: -260px;
                   top: -40px;")
          | Problems Solved

        div(style="text-align:center;")
          img(ng-src="{{url}}", width=480)
        div(style="text-align: center;")
          | Time
        br
        br
      
  .col-md-3.full-height
      
{% endraw %}
{% endblock %}
