!!! 5
html
  head
    title IncenToLearn
    script(src='https://code.jquery.com/jquery-1.10.2.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular.js')
    //- script(src='/static/js/angular-intro.min.js')
    //- script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular-route.js')
    script(src='/static/js/bootstrap.min.js')
    script(src='/static/js/bootswatch.js')
    script(src='/static/js/sanitize.js')
    link(rel='stylesheet', href='/static/css/bootstrap.css')
    link(rel='stylesheet', href='/static/css/tree.css')
    script(src='/static/js/app.js')
    script(src='/static/js/mainCtrl.js')

  body(ng-app="tutsApp")
    div.container(ng-controller="MainCtrl")
      include header

      {% block content %}
      {% endblock %}
